<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title>Whiteroom</title>
	<meta charset="UTF-8">
	<meta name="description" content="SolMusic HTML Template">
	<meta name="keywords" content="music, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Favicon -->
	<link th:href="@{/img/favicon.ico}" rel="shortcut icon"/>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
 
	<!-- Stylesheets -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/slicknav.min.css}"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" th:href="@{/css/style.css}"/>


	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>

	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section clearfix">
		<a th:href="@{/}" class="site-logo">
			<img src="img/logo.png" alt="">
		</a>
		<div class="header-right">
			<a href="#" class="hr-btn" th:text = "#{index.help}">Help</a>
			<span>|</span>
			<div class="user-panel">
				<a th:href="@{/login}" class="login" th:text = "#{index.login}">Login</a>
				<a href="" class="register" th:text = "#{index.register}">Create an account</a>
			</div> 
		</div>
	</header>

		<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2><span th:text = "#{index.h2_1_japanese}" class ="first-word" >Japanese</span> <span th:text = "#{index.h2_1}"> for everyone</span></h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
								<a th:href="@{/login}" class="site-btn" th:text = "#{index.h2.play-now}">Play Now</a>
								<a th:href="@{/login}" class="site-btn sb-c2" th:text = "#{index.h2.login}">Log in</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
								<img src="img/hero-bg1.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2><span class ="first-word" th:text = "#{index.h2_2_fw}">Play </span> <span th:text = "#{index.h2_2}"> learning Japanese </span> </h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
								<a th:href="@{/login}" class="site-btn" th:text = "#{index.h2.play-now}">Play Now</a>
								<a th:href="@{/login}" class="site-btn sb-c2" th:text = "#{index.h2.login}">Log in</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
								<img src="img/hero-bg3.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->


















	<!-- Footer section -->
	<footer class="footer-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-7 order-lg-2">
					<div class="row">
						<div class="col-sm-4">
							<div class="footer-widget">
								<h2 th:text = "#{index.about}">About us</h2>
								<ul>
									<li><a href=""> <span th:text = "#{index.story}">Our Story</span></a></li>
								</ul>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="footer-widget">
								<h2><a th:href= "'?lang='+#{index.globe}"><i class="fa fa-globe fa-spin"></i></a></h2>
								<ul>
									<li><a href="" th:text = "#{index.contact}">Contact Us</a></li>
								</ul>
							</div>
						</div>	
						<div class="col-sm-4">
							<div class="footer-widget">
								<h2>&nbsp;</h2>
								<ul>
									<li><a href="" th:text = "#{index.fuck}">Fuck You</a></li>
								</ul>
							</div>
						</div>							
					</div>
				</div>
				<div class="col-xl-6 col-lg-5 order-lg-1">
					<img src="img/logo.png" alt="">
					<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Whiteroom &copy;<script>document.write(new Date().getFullYear());</script> <span th:text = "#{index.copyright}">All rights reserved</span> | <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
					<div class="social-links">
						<a href="https://vk.com/sspika" target = "_blank"><i class="fa fa-vk fa-spin"></i></a>
						<a href="https://twitter.com/Ncjohn4" target = "_blank"><i class="fa fa-twitter fa-spin"></i></a>
						<a href="https://www.youtube.com/channel/UCsfu0IH7MpjVEblNyXgkL6g" target = "_blank"><i class="fa fa-youtube fa-spin"></i></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer section end -->


	<!--====== Javascripts & Jquery ======-->
	<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.slicknav.min.js}"></script>
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	<script th:src="@{/js/mixitup.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>

</body>
</html>